<div class="col-sm-12 col-md-4 p-4">
  <h1 class="text-center pb-3"><%= image_tag "https://raw.githubusercontent.com/mugberto/chefbook-images/c63eb908b48acba9f5ead4ee181c7a81c111de1e/Images/chefbook_logo.svg", height: 200 %></h1>
  <p class='text-center fs-1'>Welcome to Chefbook</p>
  <div class="sign-up-form mt-4 p-4 border">

    <h2>Sign in</h2>

    <%= form_with scope: :user, url: sessions_path, method: 'post', local:true do |form| %>
      <fieldset class= 'py-3'>
        <%= form.label :username, 'Username', class: 'form-label' %>
        <%= form.text_field :username, class: 'form-control' %>
      </fieldset>
      <fieldset class= 'py-3'>
        <%= form.submit 'Sign in', class: 'form-control bg-primary text-white' %>
      </fieldset>
    <% end %>
    Have no account? <%= link_to "Sign up", new_user_path %>

  </div>
  
</div>