<div class="col-md-9 bg-light">
  <h1>RECIPES</h1>
  <%= form_with model: @recipe, local: true do |form| %>
    <%= form.text_area :description, placeholder: 'Add your recipe' %></br>
    <%= form.submit 'Add' %>
  <% end %>
  
  <ul><%= render @recipes %></ul>
</div>
<div class="flex-shrink-1 bg-light ms-1">
  <h2>HOW TO FOLLOW</h2>
  <ul>
    <%= render partial: 'person_to_follow', collection: @people_to_follow %>
  </ul>
</div>
