<div class="col-md-9 bg-light">
  <div class="row">
    <div class='cover-image' style=<%= cover_image(@user) %> >.</div>
  </div>

  <h1 class='p-4 ms-1'>RECIPES</h1>
  
  <ul><%= render @recipes %></ul>
</div>

<div class="flex-shrink-1 bg-light ms-1">
  <div class='row pt-4'>
    <div class='col'>
      <%= profile_picture %>
      <div class='aside-user-fullname text-center p-3'><%= @user.fullname %></div>
      <div class="text-center p-3"><%= follow_btn @user %></div>
    </div>
  </div>

  <div class='row border-bottom border-1 border-secondary'>
    <div class='col-4 p-4'>
      <div class='text-center'><%= @user.recipes.count %></div>
      <div class='text-center'>Recipes</div>
    </div>
    <div class='col-4 p-4'>
      <div class='text-center'><%= @user.followers.count %></div>
      <div class='text-center'>followers</div>
    </div>
    <div class='col-4 p-4'>
      <div class='text-center'><%= @user.people_he_follows.count%></div>
      <div class='text-center'>following</div>
    </div>
  </div>

  <div class="row py-4">
    <h2><%= @user.fullname %>'s followers</h2>
    <ul>
      <%= render partial: 'recipes/person_to_follow', collection: @user.followers %>
    </ul>
  </div>

</div>
