<div class="col-md-9 bg-light">
  <div class='cover-image' style="background-image: url(https://images.unsplash.com/photo-1608408843596-b3119736057c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2095&q=80)">.</div>

  <h1>RECIPES</h1>
  
  <ul><%= render @recipes %></ul>
</div>

<div class="flex-shrink-1 bg-light ms-1">
  <div class='row p-4'>
    <div class='col'>
      <img src='https://avatarfiles.alphacoders.com/103/103373.png' class='rounded-circle d-block w-100' alt='profile-picture'>
      <div class='aside-user-fullname text-center'><%= @user.fullname %></div>
      <%= follow_btn @user %>
    </div>
  </div>

  <div class='row py-4 border-bottom border-1 border-secondary'>
    <div class='col-4 p-4'>
      <div class='text-center'><%= @user.recipes.count %></div>
      <div class='text-center'>Recipes</div>
    </div>
    <div class='col-4 p-4'>
      <div class='text-center'><%= @user.followers.count %></div>
      <div class='text-center'>followers</div>
    </div>
    <div class='col-4 p-4'>
      <div class='text-center'><%= @user.people_he_follows.count%></div>
      <div class='text-center'>following</div>
    </div>
  </div>

  <div class="row py-4">
    <h2><%= @user.fullname %>'s followers</h2>
    <ul>
      <%= render partial: 'recipes/person_to_follow', collection: @user.followers %>
    </ul>
  </div>

</div>
