<div class='row p-4'>
  <div class='col-sm-12 col-md-5'>
    <%= avatar %>
  </div>
  <div class='col-sm-12 col-md-7 text-center d-flex justify-content-center align-items-center'>
    <div class='aside-user-fullname'><%= current_user.fullname %></div>
  </div>
</div>
<div class='row py-4 border-bottom border-1 border-secondary'>
  <div class='col-6 p-4'>
    <div class='text-center'><%= current_user.followers.count %></div>
    <div class='text-center'>followers</div>
  </div>
  <div class='col-6 p-4'>
    <div class='text-center'><%= current_user.people_he_follows.count%></div>
    <div class='text-center'>following</div>
  </div>
</div>
<nav class='aside-links mt-4 d-grid'>
  <%= link_to "HOME", root_path, class:'aside-link btn btn-outline-light border-0 rounded-0' %>
  <%= link_to "CONNECT", users_path, class:'aside-link btn btn-outline-light border-0 rounded-0' %>
  <%= link_to "PROFILE", edit_user_path(current_user), class:'aside-link btn btn-outline-light border-0 rounded-0' %>
</nav>